{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %} {% endblock %}</title>
    {% block css_additional %} {% endblock %}
</head>
<body>
<ul>

    {% block content %} {% endblock %}

</ul>
</body>
</html>


<!--<ul>-->
<!--    {% for zodiac in zodiacs %}-->
<!--    {% if forloop.first %}-->
<!--    <li style="color:red"><a href="/horoscope/{{ zodiac }}"><i><b>{{ forloop.counter }} {{ zodiac|title }}</b></i></a></li>-->
<!--    {% elif forloop.last %}-->
<!--    <li style="color:red"><a href="{{ zodiac }}"><i><b>{{ forloop.counter }} {{ zodiac|title }}</b></i></a></li>-->
<!--    {% else %}-->
<!--    <li><a href="{% url 'horoscope-name' sign_zodiac=zodiac %}">{{ forloop.counter }} {{ zodiac|title }}</a></li>-->
<!--    {% endif %}-->
<!--    {% endfor %}-->
<!--</ul>-->