<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ name }}</h1>
<div>
    <h3>Специалисты медицинского профиля:</h3>
    <ol>
        {% for i in doctors%}
        <li> {{ i }}</li>
        {% endfor %}
    </ol>
    <h3>Специалисты общего профиля:</h3>
    <ol>
        {% for i in personal%}
        <li> {{ i }}</li>
        {% endfor %}
    </ol>
    <h3>Auto</h3>
    <ol>
        {% for i in car%}
        <li> {{ i }}</li>
        {% endfor %}
    </ol>

</div>
<foter>
    <div>
        <h3>Service</h3>
        <ul>
            <li>Phone: {{ phone }}</li>
            <li>Email: {{ email }}</li>
<!--            <li>{{ ip }}</li>-->
        </ul>
    </div>
</foter>
</body>
</html>