<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h2> Оставьте отзыв</h2>

<form action="/hello">
    <label for="name_id">Name:</label>
    <input type="text" id="name_id" name="name">
    <label for="surname_id">Surname:</label>
    <input type="text" id="surname_id" name="surname">
    <br>
    <br>
    <label for="login_id">LOGIN:</label>
    <input type="text" id="login_id" name="login">
    <label for="password_id">PASSWORD:</label>
    <input type="text" id="password_id" name="passwd">
    <br>
    <br>
    <label for="feedback_id">Feedback</label>
    <textarea name="feedback" id="feedback_id" cols="30" rows="10"></textarea>
    <button type="submit">Send</button>
</form>
<footer>
    <h1>{{ name }}</h1>
    <h1>{{ surname }}</h1>
    <h1>{{ login }}</h1>
    <h1>{{ passwd }}</h1>
    <h1>{{ feedback }}</h1>
</footer>
</body>
</html>