

{% extends 'movie_app/base.html' %}


{% block title %} Actor-information{% endblock %}


{% block content %}
<h3>Имя: {{ actor.first_name }} Фамилия: {{ actor.second_name }}</h3>
<p>Пол: {{ actor.gender }}</p>
<hr>
<h5>Список Фильмов</h5>
<ul>
    <!--    {% for movie in actor.movie_set.all %}-->
    <!--        {% endfor %}-->
    {% for movie in actor.movie_set.all %}
    <li><a href="{{ movie.get_url }}">{{ movie }}</a></li>
    {% endfor %}
</ul>
<hr>
{% endblock %}


{% block footer %}
<h6>{{ actor.actor_email }}</h6>
{% endblock %}