{% extends 'movie_app/base.html' %}


{% block title %} Director-information{% endblock %}


{% block content %}
<h3>{{ director.first_name }} {{ director.second_name }}</h3>

<hr>
<h5>Список Фильмов</h5>
<ul>
    <!--    {% for movie in director.movie_set.all %}-->
    <!--        {% endfor %}-->
    {% for movie in director.movies.all %}
    <li><a href="{{ movie.get_url }}">{{ movie }}</a></li>
    {% endfor %}
</ul>
<hr>
{% endblock %}

{% block footer %}
<h6>{{ director.director_email }}</h6>
{% endblock %}