<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<h1>{{ name }}</h1>
<p>{{ text }}</p>
{% if advertisement_list  %}
<ul>
    {% for advertisement in advertisement_list %}
    <li>
        <a href="/advertisement/{{ advertisement.id }}">{{ advertisement.title }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Обьявлений нет!</p>
{% endif %}





<!--<ul>-->
<!--    <h2><a href="https://skillbox.ru/">SkillBox&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</a><a href="skillbox_main.html">Test</a></h2>-->
<!--    <li><a href="https://skillbox.ru/course/profession-python-onboarding/">Python - Skillbox&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</a><a href="python_main.html">Test</a></li>-->
<!--    <li><a href="https://pandas.pydata.org/">Python - Pandas&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</a><a href="pandas_main.html">Test</a></li>-->
<!--    <li><a href="https://www.djangoproject.com/">Python - Django&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</a><a href="django_main.html">Test</a></li>-->
<!--    <li><a href="https://netology.ru/programs/prodatascience">Git&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</a><a href="git_main.html">Test</a></li>-->
<!--</ul>-->

<footer>
    <div>
        <h1>Pet-Doctor</h1>
        <p>{{ random_adv }}</p>
        <ul>
            {% for advertisement in advertisement %}
            <li>{{ advertisement }}</li>
            {% endfor %}
        </ul>
    </div>
    <ul>
        <li><a href="advertisement/about.html">About Us</a></li>
        <li><a href="advertisement/categories.html">Categories our specialist</a></li>
        <li><a href="advertisement/contacts.html">Contacts</a></li>
        <li><a href="advertisement/regions.html">Our regions</a></li>
        <li></li>
        <li></li>
    </ul>
    <h6>You Ip address is {{ ip }}</h6>
    <form action="/" method="post">
        {% csrf_token %}
        <button type="submit">Send</button>
    </form>
</footer>
</body>
</html>