<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guinness-World-Records</title>
</head>
<body>
<h2>Мощный удар</h2>
<p>Норвежец {{ power_man }} прославился тем что 9 ноября 2006г. в Осло на сьемках телевизионной передачи "Senkveld"
    телеканала TV2 в течении одной минуты сломал рукой 90  бетонных блоков.</p>
<h2>Гамбургер</h2>
<p>31 июля 2006г. в меню гриль-бара {{ bar_name }} на пляже Паттайя в Тайланде был включон самый большой гамбургер весом
 35,6 кг.</p>
<h2>Человек-ёж</h2>
<p>23 марта 2004г. в городе Наньнин(Китай) в голову и лицо отважного китайца Вей Шей Шенгчу было воткнуто {{ count_needle }}
 игл для иглоукалывания.</p>
</body>
</html>