




h2 {
    color: #e8dede;
    text-align: center;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 30px;
    text-decoration: underline;
}

h4 {
    text-align: center;
    text-align: center;
    font-family: "Andale Mono", AndaleMono, monospace;

}


nav a:hover, nav a:active {
color: #eca8b5;
}