{% extends 'base.html' %}

{% block title %}
Horoscope for {{ horoscope_sign|capfirst }}
{% endblock %}

{% load static%}
{% block css_additional %}
<link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">
{% endblock %}

{% block content %}
<h2>Гороскоп на  {{ horoscope_sign|title }}</h2>
{% if description_zodiac is None %}
<h2>Неправильный знак зодиака - {{ horoscope_sign }}</h2>
{% else %}
<h4> {{ description_zodiac }},</h4>
{% endif %}




{% endblock %}


{% block footer %}

{% include 'includes/navbar.html' %}
<!--    <h6>Autor: {{ my_class|upper }} {{ my_class.name|capfirst }} age:{{ my_class.age|add:"-20"}}</h6>-->
{% endblock %}