{% extends 'movie_app/base.html' %}


{% block title %}{{ movie.name }}{% endblock %}


{% block content %}
<h1>{{ movie.name }}</h1>
<p>{{ movie }} рейтинг</p>
<hr>
<h5>Информация о режисере.</h5>
<h5>Имя: {{ movie.director.first_name }}</h5>
<h5>Фамилия: {{ movie.director.second_name }}</h5>
<h5>Контакт: {{ movie.director.director_email }}</h5>
<hr>
<h5>Список Актёров</h5>
<ul>
    {% for actor in movie.actors.all %}
    <li><a href="{{ actor.get_url }}">{{ actor }}</a></li>
    {% endfor %}
</ul>
<h5></h5>
<h5></h5>
<h5></h5>
<hr>


{% endblock %}


{% block footer %}Budget - {{ movie.budget }}{% endblock %}

